/* Center the container and style it to match the design */
.change-password-container {
  text-align: center;
  margin-top: 50px;
}

.change-password-container h1 {
    font-size: 36px;
    color: #4e9eab; 
    margin-bottom: 20px;
    text-shadow: 0 0 10px #a5e9f0, 0 0 20px #a5e9f0, 0 0 30px #a5e9f0;
    
  
}

.change-password-box {
  margin: 0 auto;
  height: 400px;
  padding: 30px;
  width: 300px;
  background-color: #a7dfe8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.change-password-box h2 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.change-password-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.back-to-login {
  color: #ffffff;
  font-size: 0.9em;
}

.back-to-login a {
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
}

.back-to-login a:hover {
  text-decoration: underline;
}

.change-password-box button {
  width: 100%;
  padding: 12px;
  background-color: #4a626a; /* Darker button color */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.change-password-box button:hover {
  background-color: #3d5159;
}

