/* Center the content */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f9fb;
    font-family: Arial, sans-serif;
  }
  
  /* Title styling */
  .app-title {
    font-size: 36px;
    color: #4e9eab;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #a5e9f0, 0 0 20px #a5e9f0, 0 0 30px #a5e9f0;
  }
  
  /* login box styling */
  .login-box {
    height: 400px;
    width: 320px; /* Ensures consistent width on larger devices */
    padding: 20px;
    border-radius: 15px;
    background-color: #b2e2e8; /* Background color similar to screenshot */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Input fields styling */
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* button styling */
  .login-box button {
    margin-top: 40px;
    width: 100%;
    padding: 12px;
    background-color: #4a626a; /* Darker button color */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #3d5159;
  }
  
  /* login link styling */
  .signup-link {
    margin-top: 40px;
    font-size: 14px;
    color: white;
  }
  
  .signup-link a {
    color: #3d5159;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  