.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f9fb; 
    font-family: Arial, sans-serif;
  }
  
  /* Title styling */
  .app-title {
    font-size: 36px;
    color: #4e9eab; 
    margin-bottom: 20px;
    text-shadow: 0 0 10px #a5e9f0, 0 0 20px #a5e9f0, 0 0 30px #a5e9f0;
    
  }
  
  /* Sign-up box styling */
  .forgot-password-box {
    height: 400px;
    max-width: 320px;
    min-width: 200px;
    padding: 20px;
    border-radius: 15px;
    background-color: #b2e2e8; /* Background color similar to screenshot */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .forgot-password-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Input fields styling */
  .forgot-password-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Sign-up button styling */
  .forgot-password-box button {
    width: 100%;
    margin-top: 40px;
    padding: 12px;
    background-color: #4a626a; /* Darker button color */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .forgot-password-box button:hover {
    background-color: #3d5159;
  }
  
  /* Sign-in link styling */
  .forgot-password-link {
    margin-top: 15px;
    font-size: 14px;
    color: #4a626a;
    margin-top: 160px;
  }
  
  .forgot-password-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .forgot-password-link a:hover {
    text-decoration: underline;
  }